{% extends 'layout.twig' %}

{% block title %}{{  'category_delete'|trans }}{% endblock %}

{% block content %}
    <h1>
        {{ 'category_delete_?'|trans }}
    </h1>
    <form action="" method="post">
        {{ form_widget(form) }}
    </form>
{% endblock %}