{% extends 'layout.twig' %}

{% block title %}Projekt na zaliczenie z systemu interakcyjnego{% endblock %}

{% block head %}
    {{ parent() }}

{% endblock %}
{% block content %}
    <h1>
        Hello !
    </h1>
    <p>
        Some static text.
    </p>
{% endblock %}