{% extends 'layout.twig' %}

{% block title %}Projekt na zaliczenie z systemu interakcyjnego{% endblock %}

{% block head %}
    {{ parent() }}

{% endblock %}
{% block content %}
    <h1>
        {{ 'hello'|trans }}

    </h1>
    <p>
        {{ 'welcome'|trans }}

    </p>
{% endblock %}