{% extends 'layout.twig' %}

{% block title %}{{  'Edytuj artykuł'|trans }}{% endblock %}

{% block content %}
    <h1>
        {{ 'Edytuj artykuł'|trans }}
    </h1>
    <form action="" method="post">
        {{ form_widget(form) }}
        <input type="submit" name="submit" class="btn btn-primary" value="{{ 'Save'|trans }}" />
    </form>
{% endblock %}